<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="ApiFrame.ApiFrame"  >
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="higherMessageSize"
    contract="ApiFrame.IApiframe" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web" >
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling  maxConcurrentCalls="4000" maxConcurrentSessions="4000"  maxConcurrentInstances="6000" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling  maxConcurrentCalls="4000" maxConcurrentSessions="4000"  maxConcurrentInstances="6000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IApiframe"  closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:01:00" sendTimeout="00:02:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text"/>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="higherMessageSize" maxBufferSize="2147483647"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" >
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.9.70.64:8586/ApiFrame.svc/soap"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApiframe"
          contract="Api_HRSB.IApiframe" name="BasicHttpBinding_IApiframe" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="HRSBPostGreeConnect" connectionString="Server=pgdev.seabank.com.vn;Port=5432;User Id=bachcv;Password=bach123;Database=SEABAPI;POOLING=True;CONNECTIONLIFETIME=1000;MINPOOLSIZE=1;MAXPOOLSIZE=1024;SearchPath=systempermisson"  />
    <add name="HRSBOracleConnect" connectionString="DATA SOURCE=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = dbdevelop.seabank.com.vn)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = OLTP_HRDEV)));PERSIST SECURITY INFO=True;USER ID=HRM; PASSWORD=hrtest2018;Pooling=True;" providerName="Oracle.DataAccess.Client" />
    <add name="ZKConnect" connectionString="Data Source=SQLDEV01;Initial Catalog=zk_db;User id=zkteco;Password=123456a@;"  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

